.card {
  height: 100px;
  width: 90%;
  max-width: 600px;
  background: #5482de;
  color: #fff;
  border-radius: 10px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px;
}

.card strong {
  font-size: 18px;
}

/* Media Query para telas maiores */
@media (min-width: 768px) {
  .card {
    width: 70%;
  }
}

@media (min-width: 1024px) {
  .card {
    width: 50%;
  }
}
